{
	"version": "1.0.0-alpha",
	"messageTemplate":
	{
		"name": "IMU",
		"MessageType": "Sensor",
		"isControl": false,
		"isSensor": true,
		"description": "",
		"segmentList": [
			{
				"type": "FIELDS",
				"relationName": "IMUEntity",
				"fieldList": [
					{
						"name": "seconds",
						"relationName": "IMUEntity",
						"variableName": "time_stamp.seconds",
						"variableType": "INT64"
					},
					{
						"name": "nanos",
						"relationName": "IMUEntity",
						"variableName": "time_stamp.nanos",
						"variableType": "INT32"
					},
					{
						"name": "x",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.orientation.x",
						"variableType": "DOUBLE"
					},
					{
						"name": "y",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.orientation.y",
						"variableType": "DOUBLE"
					},
					{
						"name": "z",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.orientation.z",
						"variableType": "DOUBLE"
					},
					{
						"name": "w",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.orientation.w",
						"variableType": "DOUBLE"
					},
					{
						"name": "x",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.angular_velocity.x",
						"variableType": "FLOAT"
					},
					{
						"name": "y",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.angular_velocity.y",
						"variableType": "FLOAT"
					},
					{
						"name": "z",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.angular_velocity.z",
						"variableType": "FLOAT"
					},
					{
						"name": "x",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.acceleration.x",
						"variableType": "FLOAT"
					},
					{
						"name": "y",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.acceleration.y",
						"variableType": "FLOAT"
					},
					{
						"name": "z",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.acceleration.z",
						"variableType": "FLOAT"
					},
					{
						"name": "linear_acceleration_covariance",
						"relationName": "IMUEntity",
						"variableName": "imu_attributes.linear_acceleration_covariance",
						"variableType": "DOUBLE"
					}
				]
			}
		]
	}
}