{
	"version": "1.0.0-alpha",
	"messageTemplate":
	{
		"name": "TransformControl",
		"isControl": true,
		"isSensor": false,
		"description": "",
		"segmentList": [
			{
				"type": "FIELDS",
				"relationName": "TransformControl",
				"fieldList": [
					{
						"name": "x",
						"relationName": "TransformControl",
						"variableName": "target_transform.location.x",
						"variableType": "FLOAT"
					},
					{
						"name": "y",
						"relationName": "TransformControl",
						"variableName": "target_transform.location.y",
						"variableType": "FLOAT"
					},
					{
						"name": "z",
						"relationName": "TransformControl",
						"variableName": "target_transform.location.z",
						"variableType": "FLOAT"
					},
					{
						"name": "x",
						"relationName": "TransformControl",
						"variableName": "target_transform.rotation.x",
						"variableType": "FLOAT"
					},
					{
						"name": "y",
						"relationName": "TransformControl",
						"variableName": "target_transform.rotation.y",
						"variableType": "FLOAT"
					},
					{
						"name": "z",
						"relationName": "TransformControl",
						"variableName": "target_transform.rotation.z",
						"variableType": "FLOAT"
					},
					{
						"name": "steer_angle",
						"relationName": "TransformControl",
						"variableName": "steer_angle",
						"variableType": "FLOAT"
					},
					{
						"name": "speed",
						"relationName": "TransformControl",
						"variableName": "speed",
						"variableType": "DOUBLE"
					}
				]
			}
		]
	}
}
